body {
    font-family: Arial, sans-serif;
}

form {
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 10px;
}

button {
    margin-left: 10px;
}
